body{
    margin: 0 !important;
    padding: 0 !important;
   
}
::marker{
    color: #3D37F1;
    font-size: 2rem;
    
}

.svg{
    width: 100%;
}

@media screen and (max-width:48em){
    .svg{
    width: 70%;
    
    }
}